//Colors
$white: #fff;
$white-light: #eee;
$white-dark: #ccc;
$black: #000;
$dark: #414141;
$blue: #2d4d80;
$navy-blue: #002635;
$navy-blue2: #193a5b;
$blue-green: #15a780;
$lightiest-blue: #cbe0ff;
$light-blue: #a0daf2;
$light-blue2: #259bdb;
$light-blue--v2: #259bdb;
$dark-blue: #05042c;
$yellow: #e7a036;
$light-yellow: #ece465;
$dark-yellow: #b9a300;
$green: #1b8933;
$light-green: #9cc751;
$orange: #db5b14;
$orange-light: #f8c353;
$gray: #7f8fa8;
$red: #d23139;
$red2: #ff1d19;
$red-light: #f66167;

$lime-green: #93ce36;

$brady: 'Brady Bunch';

//Height
$game-button-half: 10vh;
$game-button-full: 8vh;

//Media Queries
$sm-device: 360px;

//Image Directory
$bg-url: "../assets/images/street-buildings.svg";

//Background Color 
$bg-color: $light-blue;



