.game-button {
  position: relative;
//  width: 100%;
  
  padding: 0;
  background-color: $white;
  border: 0;
  border-radius: 5px;
  color: $black;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  &:hover,
  &:focus {
    outline: 0;
  }
//  box-sizing: 0;
  &.btn-success{
    background-color: $blue-green;
    color: $white;
  }

  &.btn-danger{
    background-color: $red;
    color: $white;
  }
  
  &--red {
    background-color: $red;
    color: $white;
    
    &:hover,
    &:focus {
      background-color: darken($red, 10%);
      color: $white;
    }
  }
  
  &--blue-green {
    background-color: $blue-green;
    color: $white;
    &:hover,
    &:focus {
      
      background-color: darken($blue-green, 10%);
      color: $white;
    }
  }
  
  &--light-blue {
    background-color: $light-blue2;
    color: $white;
    &:hover,
    &:focus {
      background-color: darken($light-blue2, 10%);
      color: $white;
    }
    
  }
  &--yellow {
    background-color: $yellow;
    color: $white;
    &:hover,
    &:focus {
      background-color: darken($yellow, 10%);
      color: $white;
    }
    
  }
  .answer-me, 
  .answer-opponent{
    &::before,
    &::after{
      content: " ";
      position: absolute;
      top: 50%;
      z-index: 3;
      
      background-color: transparent;
      content: '';
      width: 0;
      height: 0;
    }
  }
  
  .answer-me {
    position: absolute;
    left: 0;
    top: 50%;
    
    width: 0;
    height: 0;
    display: block;
    
    margin-top: -12px;
    margin-left: 0px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 15px solid rgba(0, 0, 0, 0.2);
    
    
    &::before{
      left: 0;
      
      margin-top: -13px;
      margin-left: -20px;

      border-top: 13px solid transparent;
      border-bottom: 13px solid transparent;
      border-left: 17px solid $light-yellow;

    }
    &::after {
      left: 0;
      z-index: 1;
      
      height: 36px;
      margin-top: -18px;
      margin-left: -20px;
      
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent; 
      border-right:5px solid $dark-yellow; 
             
    }
  }

  .answer-opponent{
    position: absolute;
    right: 0;
    top: 50%;
    
    width: 0;
    height: 0;
    display: block;
    
    margin-top: -12px;
    margin-right: 0px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 15px solid rgba(0, 0, 0, 0.2);
    &::before{
      right: 0;

      margin-top: -13px;
      margin-right: -20px;

      border-top: 13px solid transparent;
      border-bottom: 13px solid transparent;
      border-right: 17px solid $light-yellow;
      
    }
    &::after {
      right: 0;
      z-index: 1;
      
      height: 36px;
      margin-top: -18px;
      margin-right: -20px;
      
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left:5px solid $dark-yellow;
             
      
    }
  }
  
}