.main-player {
  display: block;
  margin: 0 auto;
  text-align: center;
  &__avatar {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background: $light-blue;
    display: block;
    border-radius: 50%;
    border: 5px solid $orange;
    @media (min-width : $sm-device){
      width: 200px;
      height: 200px;
    }
  }
  &__details {
    position: relative;
    //        z-index: 10;
    min-width: 180px;
    width: 100%;
    margin-top: -40px;
    padding:0;
    background-color: red;
    text-align: center;
    @media (min-width : $sm-device){
      min-width: 220px;
      margin-top: -50px;
    }
    &:before,
    &:after {
      content: "";
      z-index: -1;
      position: absolute;
      display: block;
      border-style: solid;
      border-color: transparent #804f7c transparent;
      top: -3em;
    }
    &:before {
      right: 0;
      border-width: 3em 0 0 3em;
    }
    &:after {
      left: 0;
      border-width: 3em 3em 0 0;
    }
  }
  &__score {
    font-size: 12px;
  }
  &__name {
    margin: 0;
    color: $black;
    line-height: 30px;
    font-size: 36px;
    font-family: 'Brady Bunch';
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &__footer {
    font-size: 16px;
    font-weight: 600;
    margin-top: 15%;
    color: $blue;
  }
}