.open-ended {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 20px 10px;
  &[class^="is-"]:before,
  &[class*=" is-"]:before {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  font-family: FontAwesome;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
      
}
  &.is-correct {
    &::before {
      content: "\f00c";
      color: darken( $green, 10%);
    }
    .open-ended__textbox {
      color: darken( $green, 10%);
      border-bottom-color: darken( $green, 10%);
    }
  }
  &.is-wrong {
    &::before {
      content: "\f00d";
      color: $red;
    }
    .open-ended__textbox {
      color: $red;
      border-bottom-color: $red;
    }
  }
  &__answer {
    position: absolute;
    top: -25px;
    width: 100%;
    font-weight: 700;
    text-align: center;
//    display: none;
  }
  &__textbox {
    width: 100%;
    padding: 5px 20px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid $blue;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    &:focus,
    &:active {
      //          border: 0;
      outline: 0;
    }
  }
}