.grid {
  &--100 {
    float: left;
    width: 100%;
  }
  &--90 {
    float: left;
    width: 90%;
  }
  &--80 {
    float: left;
    width: 80%;
  }
  &--70 {
    float: left;
    width: 70%;
  }
  &--60 {
    float: left;
    width: 60%;
  }
  &--50 {
    float: left;
    width: 50%;
  }
  &--40 {
    float: left;
    width: 40%;
  }
  &--30 {
    float: left;
    width: 30%;
  }
  &--20 {
    float: left;
    width: 20%;
  }
  &--10 {
    float: left;
    width: 10%;
  }
}