

.view-height {
  &--100{
    height: 100vh;
  }
  &--90{
    height: 90vh;
  }
  &--80{
    height: 80vh;
  }
  &--70 {
    height: 70vh;
  }
  &--60 {
    height: 60vh;
  }
  &--50 {
    height: 50vh;
  }
  &--40 {
    height: 40vh;
  }
  &--30 {
    height: 30vh;
  }
  &--20 {
    height: 20vh;
  }
  &--10 {
    height: 10vh;
  }
}