<div class="header header__solo">
	{{> header-player player=player }}
	<div class="header__points points">
	{{> header-points game=game }}
	</div>
	<div class="header__back-btn"  data-id="b">
      <button class="game-button game-leave game-button--red" type="button">BACK</button>
    </div>
</div>