<input type="text" id="name" placeholder="Type your name here" />
<button class="btn btn-default btn__play">Play</button>
<button class="btn btn-default btn__follow">Follow</button>
<button class="btn btn-default btn__rank">Rankings</button>
<button class="btn btn-default btn__leave">Leave</button>