<div class="loading-screen"></div>
<div class="loading-screen__sky"></div>
<div class="loading-screen__clouds"></div>

<img class="loading-screen__cloud-one" src="./assets/images/cloud-one.svg" alt="">
<img class="loading-screen__cloud-two" src="./assets/images/cloud-two.svg" alt="">
<img class="loading-screen__cloud-three" src="./assets/images/cloud-three.svg" alt="">
<img class="loading-screen__cloud-four" src="./assets/images/cloud-four.svg" alt="">
<img class="loading-screen__cloud-five" src="./assets/images/cloud-five.svg" alt="">

<img class="loading-screen__flag" src="./assets/images/flag.svg" alt="">
<img class="loading-screen__jeep" src="./assets/images/jeepney.svg" alt="">