<div class="text-twist__output">
  <ul class="text-twist__list">
  	{{>options-buttons data=data.blanks}}
  </ul>
</div>
<div class="text-twist__input">
  <ul class="text-twist__list">
  	{{>options-buttons data=data.options}}
  </ul>
</div>
<div class="text-twist__action">
  <button class="game-button game-button--ttclear game-button--red" type="button">CLEAR</button>
  <button class="game-button game-button--ttpass game-button--yellow" type="button">PASS</button>
  <button class="game-button game-button--ttsubmit game-button--blue-green" type="button">SUBMIT</button>
</div>