<div class="result-page__rematch rematch">
	<h3 class="rematch__title">Waiting for the other player</h3>
	<time class="rematch__time">{{>waiting-timer time=time}}</time>
	<button class="game-button result-page__button game-button--cancel game-button--red ">Cancel</button>
</div>